.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.editorArea {
    flex-grow: 1;
    height: calc(100vh - 186px);
}

.editorArea > div {
    height: 100%;
}