.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: rgb(243 244 246);
    font-size: 16px;
}

/* 关闭 password 自带的显示隐藏功能 */
input[type="password"]::-ms-reveal{
    display: none;
}

input {
    border: none;
    background-color: transparent;
}

.bytemd {
    height: 100% !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;