/* md 文档里的附件图标 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html, body, #root {
    height: 100%;
    /* overflow: hidden; */
}

body {
    @apply bg-white text-base;
}

/* 重置标题样式，不然移动端的标题会过大 */
h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

h4 {
    @apply text-base font-bold;
}

h5 {
    @apply text-sm font-bold;
}

h6 {
    @apply text-xs font-bold;
}

:root {
    /* 移动端的底部操作栏高度 */
    --cube-note-bottombar-height: 40px;
}

/* 关闭 password 自带的显示隐藏功能 */
input[type="password"]::-ms-reveal{
    display: none;
}

/** 隐藏默认的输入框样式 **/
input {
    border: none;
    background-color: transparent;
}

/** 让 bytemd 的编辑器高度自适应 **/
.bytemd {
    height: 100% !important;
}

.noscrollbar::-webkit-scrollbar {
    width: 0 !important;
}

/** 用于控制动画的过渡时间 **/
.my-transition-enter {
    opacity: 0;
    transform: scale(0.9);
}
.my-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 100ms, transform 100ms;
}
.my-transition-exit {
    opacity: 1;
}
.my-transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 100ms, transform 100ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;