.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html, body, #root {
    height: 100%;
    /* overflow: hidden; */
}

body {
    background-color: rgb(243 244 246);
    font-size: 16px;
}

/* 关闭 password 自带的显示隐藏功能 */
input[type="password"]::-ms-reveal{
    display: none;
}

input {
    border: none;
    background-color: transparent;
}

.bytemd {
    height: 100% !important;
}

.noscrollbar::-webkit-scrollbar {
    width: 0 !important;
}

.my-transition-enter {
    opacity: 0;
    transform: scale(0.9);
}
.my-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 100ms, transform 100ms;
}
.my-transition-exit {
    opacity: 1;
}
.my-transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 100ms, transform 100ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;